<footer>
    <div class="f-info">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <a href="linkedin.com/in/ved-prakash-vishwakarma-7a0a2223a/"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="nameC">&copy; WanderLust Private Limited</div>

    <div class="condition">
        <a href="/privacy">Privacy</a>
        <a href="/terms"> Terms</a>
    </div>
</footer>