<% layout("/layouts/boilerplate") %>

<style>
    .pp{
        margin-top: 2rem;
        margin-left: 8rem;
        background-color: #fe424d;
        border: none;
    }

</style>

<br><br>
<div class="row">
    <div class="col-6 offset-4">
        <h1>WELCOME TO RENTit</h1>
        <a href="https://rentit-90is.onrender.com/listings" class="btn btn-success pp" tabindex="-1" role="button" aria-disabled="true">EXPLORE</a>
    </div>
</div>